@use "../global/mixins" as mixin;

.heading {
  margin: 0;
  margin-block-end: 42px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  position: relative;

  @include mixin.tablet {
    font-size: 25px;
    line-height: 25px;
  }

  &::before {
    content: attr(data-content);
    position: absolute;
    font-size: 26px;
    line-height: 26px;
    color: inherit;
    opacity: 0.03;
    top: -16px;

    @include mixin.tablet {
      font-size: 40px;
      line-height: 40px;
      top: -14px;
    }

  }
}
