.heading {
  margin: 0;
  margin-block-end: 42px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  position: relative;

  &::before {
    content: attr(data-content);
    position: absolute;
    font-size: 26px;
    line-height: 26px;
    color: inherit;
    opacity: 0.03;
    top: -16px;
  }
}
