@use "../global/mixins" as mixin;

.hero__slides {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.hero__slide {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 568px;
  padding-block: 40px 66px;
  position: relative;
  color: var(--base-white);
  text-align: center;
  visibility: hidden;

  @include mixin.tablet {
    min-height: 1034px;
    padding-block: 100px;
  }

  &--active {
    visibility: visible;
  }
}

.hero__heading {
  margin: 0;
  margin-block-end: 15px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;

  @include mixin.tablet {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }
}

.hero__description {
  width: 96%;
  margin: 0;
  margin-block-end: 60px;
  margin-inline: auto;
  font-size: 15px;
  line-height: 20px;

  @include mixin.tablet {
    max-width: 500px;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-block-end: 35px;
  }
}

.hero__pagination {
  display: flex;
  column-gap: 20px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.hero__dot {
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--base-white);
  border-radius: 50%;
  cursor: pointer;

  @include mixin.tablet {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: var(--secondary-gray);
  }

  &:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: 1px;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &--active {
    background-color: var(--base-white);

    &:hover {
      background-color: var(--base-white);
    }
  }
}

.hero__picture {
  display: block;
  width: 100%;
  background-color: var(--primary-accent);
  position: absolute;
  top: 0;
  z-index: -1;

  @include mixin.tablet {
    width: 100%;
    height: 1034px;
    object-fit: cover;
  }
}
