.hero {
}

.hero__slider {
}

.hero__slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero__slide {
  min-height: 568px;
  position: relative;
}

.hero__container {
  // height: 100%;
}

.hero__heading {
}

.hero__description {
}

.hero__button {
}

.hero__pagination {
}

.hero__picture {
  display: block;
  width: 100%;
  position: absolute;
}
