@use "../global/mixins" as mixin;

.instructors {
  margin-block-end: 25px;
}

.instructors__heading {
  margin: 0;
  margin-block-end: 25px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
}

.instructors__slider {
}

.instructors__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.instructors__slide {
  padding-block: 15px;
  padding-inline: 15px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  order: 2;

  &:nth-child(3) {
    order: 1;
  }
}

.instructors__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
}

.instructors__picture {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-block-end: 15px;
}

.instructors__name {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.instructors__link {
  display: block;
  width: 24px;
  height: 24px;
  justify-self: end;
  border: 1px solid rgba(45, 56, 63, 0.3);
  position: relative;
  transition: background-color 0.5s;

  &::after {
    @include mixin.pseudo(14px, 8px, var(--base-gray));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s;
    mask: url("../img/sprite/vk-small.svg") no-repeat center;
  }

  &:hover {
    border: 1px solid var(--base-gray);
  }

  &:active {
    background-color: var(--primary-accent);
    border: 1px solid transparent;

    &::after {
      background-color: var(--base-white);
    }
  }

  &:disabled,
  &:not([href]) {

    &::after {
      background-color: var(rgba(45, 56, 63, 0.3));
    }
  }
}

.instructors__about-text {
  grid-column: span 2;
  margin: 0;
  line-height: 16px;
  font-weight: 400;
}
