@use "../global/mixins" as mixin;

.page-main {
  @include mixin.tablet {
    background-color: var(--base-white);
    background-image: image-set(
      url("../img/bg/clouds-vertical-tablet@1x.webp") type("image/webp") 1x,
      url("../img/bg/clouds-vertical-tablet@2x.webp") type("image/webp") 2x,
      url("../img/bg/clouds-vertical-tablet@1x.jpg") type("image/jpg") 1x,
      url("../img/bg/clouds-vertical-tablet@2x.jpg") type("image/jpg") 2x
    );
    background-repeat: no-repeat;
    background-size: 425px 1630px;
    background-position: top 944px right;
  }
}
