.swiper {
  &--hero {
    width: 320px;
    height: 568px;
  }

  &--tours {
    width: 290px;
    height: 416px;
  }
}

.swiper-wrapper {

}

.swiper-slide {
}

.swiper-pagination {

}

.swiper-pagination-bullet {


  &-active {
  }
}

.swiper-button {
}

.swiper-button-prev {
}

.swiper-button-next {
}
