@use "../global/mixins" as mixin;

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin-inline: auto;
  position: relative;

  @include mixin.mobile {
    padding-inline: 15px;
  }

  @include mixin.tablet {
    padding-inline: 45px;
  }

  @include mixin.desktop {
    padding-inline: 120px;
  }
}
