@use "../global/mixins" as mixin;

.container {
  width: 100%;
  margin-inline: auto;
  position: relative;

  @include mixin.mobile {
    width: 320px;
    padding-inline: 15px;
  }

  @include mixin.tablet {
    padding-inline: 45px;
  }

  @include mixin.desktop {
    padding-inline: 120px;
    max-width: 1440px;
  }
}
